@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');




@import url('https://fonts.googleapis.com/css?family=Crimson&display=swap');

.navbar{
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  background-color:white;
  border: none;
  color: green;
}

.navbar-brand {
  font-size: 24px;
}
/*
/* Whole document: */
body{
  font-family: 'Crimson';
  font-size: 12pt;
}
 




