      <!-- 头像效果-start -->
        <div class="ih-item circle effect right_to_left">            
            <a href="/#blog" title="go to {{ site.title }} blog" class="blog-button">
                <div class="img"><img src="/images/mother-daughter.jpg" alt="img"></div>
                <div class="info">
                    <div class="info-back">
                        <h2> 
                            {% if site.avatarTitle %}
                                {{site.avatarTitle}}
                            {% endif %}
                        </h2>
                        <p>
                           {% if site.avatarDesc %}
                                {{site.avatarDesc}}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <!-- 头像效果-end -->